* {
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

h1 {
	font-size: 150%;
	font-weight: bold;
}

h2 {
	font-size: 120%;
	font-weight: bold;
	margin: 1em 0em 0em 0em;
}

p {
	text-indent: 0em;
	margin: 1em 0em 0em 0em;
	line-height: 150%;
}

table {
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	padding: 4px;
	text-align: left;
}
th {
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	padding:0.3em 1em;
}

td {
	border-right:1px solid #444;
	border-bottom:1px solid #444;
	padding:0.3em 1em;
}
